body {
  /* background-image: url("https://media.istockphoto.com/vectors/paw-print-background-vector-id1160966866");*/
    background-color: rgb(255, 217, 179);
}

.header {
      color: rgb(102, 102, 102);
      text-align: center !important;
      font-weight: bold !important;
      font-size: 75px !important;
      font-family: 'system-ui' !important;
      font-weight: 500 !important;
}

.subtitle {
    color: rgb(105, 105, 105);
    text-align: center !important;
    font-size: 125%;
    font-family: 'system-ui' !important;
}

#catdog-form {
      margin: auto;
      padding-right: 200px !important;
      padding-left: 200px !important;
      background-color: #FFD9B3 !important;
      font-family: 'system-ui' !important;
}

.footer {
      color: rgb(102, 102, 102);
      position: fixed;
      text-align: center;
      bottom: 0px;
      width: 100%;
      font-size: 8px;
      font-family: 'system-ui' !important;
      font-weight: 500 !important;
}

button {
    color: rgb(255, 217, 179) !important;
    padding: 2%;
    border-radius: 5%;
    border: none;
    margin: 2%;
    width: 15%;
    font-family: 'system-ui' !important;
}

.flex-parent {
    display: flex !important;
}

.jc-center {
    justify-content: center !important;
}

button.margin-right {
    margin-right: 20px !important;
}
