body {
    background-color: rgb(255, 227, 201) !important;
}

.header h1 {
    color: rgb(102, 102, 102);
    text-align: center !important;
    font-weight: bold !important;
    font-size: 75px !important;
    font-family: 'system-ui' !important;
    font-weight: 500 !important;
}

/*.header img {
    float: right;
    width: 75px;
    height: 75px;
    background: rgb(255, 227, 201);
}*/

.subtitle {
    color: rgb(105, 105, 105);
    text-align: center !important;
    font-size: 125%;
    font-family: 'system-ui' !important;
}

#catdog-form {
      margin: auto;
      padding-right: 200px !important;
      padding-left: 200px !important;
      background-color: rgb(255, 227, 201) !important;
      font-family: 'system-ui' !important;
}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 100%;
    height: 10px;
    border-radius: 4px;
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.footer {
      color: rgb(102, 102, 102);
      position: fixed;
      text-align: center;
      bottom: 0px;
      width: 100%;
      font-size: 8px;
      font-family: 'system-ui' !important;
      font-weight: 500 !important;
}

button {
    color: rgb(255, 227, 201) !important;
    background-color: rgb(214, 108, 9) !important;
    padding: 2%;
    border-radius: 5%;
    border: none !important;
    margin: 2%;
    width: 15%;
    font-family: 'system-ui' !important;
    font-size: 25px !important;
}

body {
padding-top: 0%;
padding-bottom: 15px;
font-family: 'system-ui' !important;
}

.flex-parent {
    display: flex !important;
}

.jc-center {
    justify-content: center !important;
}

button.margin-right {
    margin-right: 20px !important;
}

.results {
    text-align: center;
}

.breed-img {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.breed-name {
    text-align: center !important;
    font-size: 20px !important;
    font-family: 'system-ui' !important;
    font-weight: bold !important;
}

.breed-desc {
    text-align: center !important;
    font-size: 15px !important;
    font-family: 'system-ui' !important;
    padding-right: 200px !important;
    padding-left: 200px !important;
}

$size : 10rem;
$border-width : .5rem;
$radius : 1rem; /* try 50% */
$transition : .3s;

$bg : #F6F3E4;
$green : #4BC35F;
$red : #C15044;

.circle {
  .up { border-radius: $size $size 0 0; }
  .down { border-radius: 0 0 $size $size; }
  .count { border-radius: 50%; }
}

.vote {
  display: flex;
  flex-direction: column;
  font-family: 'system-ui' !important;
  position: relative;
  width: $size;
  height: $size;
  margin: 1rem;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: .5;
  transition: $transition;
  cursor: pointer;
  
  &.up {
    background: $green;
    height: 50%;
    margin-bottom: $border-width/2;
  }
  &.down {
    background: $red;
    height: 50%;
  }
  
  &:hover {
    opacity: 1;    
  }
}

.count {
  position: absolute;
  top: 0;
  border-radius: $radius*.1;
  margin: $size*.25;
  background: $bg;
  width: $size*.5;
  font-size: $size*.25;
  font-weight: bold;
  line-height: $size*.5;
  text-align: center;
  box-shadow: 0 0 0 $border-width $bg;
  pointer-events: none;
  
  &.upvoted { color: $green; }
  &.downvoted { color: $red; }
}
