<html>
    <head>
        <link rel="icon" type="image/png" sizes="32x32" href="https://image.flaticon.com/icons/png/512/12/12638.png" />
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/style.css">
        <title>Catdog</title>
    </head>

    <body>
        <div class = 'header'>
            <h1> Catdog Breed Recommender </h1>
            <!--<img src = "/img/icon.png" alt="icon" />-->
        </div>

        <h4 class="subtitle">
            Are you looking for a dog or cat?
        </h4>
        <br><br>
        <div id="catdog-form">
            <div class = "flex-parent jc-center">
                <button id="dog-button" class="btn btn-info"> Dog </button>
                <button id="cat-button" class="btn btn-info"> Cat </button>
            </div>
            <form id="dog-form">
                <h2>Dog Trait Selector</h2>
                <p>Desired physical traits:</p>
                <input type="text" id="physical-dog" name="physical">
                <p>Left side is undesired, right side is desired.</p>
                <p>Adapts well to apartment living:</p>
                <div class = "slidecontainer">
                    <input type="range" id="apartment" name="apartment" min="1" max="5" value = "3" class="slider">
                </div>
                <p>Good for novice owners:</p>
                <div class = "slidecontainer">
                    <input type="range" id="novice" name="novice" min="1" max="5" value = "3" class="slider">
                </div>
                <p>Sensitivity:</p>
                <input type="range" id="sensitivity" name="sensitivity" min="1" max="5">
                <p>Tolerates being alone:</p>
                <input type="range" id="alone" name="alone" min="1" max="5">
                <p>Tolerates cold weather:</p>
                <input type="range" id="cold" name="cold" min="1" max="5">
                <p>Tolerates hot weather:</p>
                <input type="range" id="hot" name="hot" min="1" max="5">
                <p>Affectionate with family:</p>
                <input type="range" id="family-dog" name="family-dog" min="1" max="5">
                <p>Kid-friendly:</p>
                <input type="range" id="kids-dog" name="kids-dog" min="1" max="5">
                <p>Dog-friendly:</p>
                <input type="range" id="dog-friendly" name="dog-friendly" min="1" max="5">
                <p>Friendly towards strangers:</p>
                <input type="range" id="strangers" name="strangers" min="1" max="5">
                <p>Amount of shedding:</p>
                <input type="range" id="shedding-dog" name="shedding-dog" min="1" max="5">
                <p>Drooling potential:</p>
                <input type="range" id="drool" name="drool" min="1" max="5">
                <p>Easy to groom:</p>
                <input type="range" id="groom-dog" name="groom-dog" min="1" max="5">
                <p>General health:</p>
                <input type="range" id="health-dog" name="health-dog" min="1" max="5">
                <p>Potential for weight gain:</p>
                <input type="range" id="weight-gain" name="weight-gain" min="1" max="5">
                <p>Size:</p>
                <input type="range" id="size" name="size" min="1" max="5">
                <p>Easy to train:</p>
                <input type="range" id="train" name="train" min="1" max="5">
                <p>Intelligence:</p>
                <input type="range" id="intelligence-dog" name="intelligence-dog" min="1" max="5">
                <p>Potential for mouthiness:</p>
                <input type="range" id="mouthiness" name="mouthiness" min="1" max="5">
                <p>Prey drive:</p>
                <input type="range" id="prey" name="prey" min="1" max="5">
                <p>Tendency to bark or howl:</p>
                <input type="range" id="noise" name="noise" min="1" max="5">
                <p>Wanderlust potential:</p>
                <input type="range" id="wander" name="wander" min="1" max="5">
                <p>Energy level:</p>
                <input type="range" id="energy" name="energy" min="1" max="5">
                <p>Intensity:</p>
                <input type="range" id="intensity" name="intensity" min="1" max="5">
                <p>Exercise needs:</p>
                <input type="range" id="exercise" name="exercise" min="1" max="5">
                <p>Potential for playfulness:</p>
                <input type="range" id="playful" name="playful" min="1" max="5">
                <button type="submit" name="dog-selected" class="btn btn-info"> Submit </button>
            </form>
            <form id="cat-form">
                <h2>Cat Trait Selector</h2>
                <p>Desired physical traits:</p>
                <input type="text" id="physical-cat" name="physical">
                <p>Left side is undesired, right side is desired.</p>
                <p>Affectionate with family:</p>
                <input type="range" id="family-cat" name="family-cat" min="1" max="5">
                <p>Amount of shedding:</p>
                <input type="range" id="shedding-cat" name="shedding-cat" min="1" max="5">
                <p>General health:</p>
                <input type="range" id="health-cat" name="health-cat" min="1" max="5">
                <p>Potential for playfulness:</p>
                <input type="range" id="playful-cat" name="playful-cat" min="1" max="5">
                <p>Kid-friendly:</p>
                <input type="range" id="kids-cat" name="kids-cat" min="1" max="5">
                <p>Easy to groom:</p>
                <input type="range" id="groom-cat" name="groom-cat" min="1" max="5">
                <p>Intelligence:</p>
                <input type="range" id="intelligence-cat" name="intelligence-cat" min="1" max="5">
                <p>Pet-friendly:</p>
                <input type="range" id="pet-friendly" name="pet-friendly" min="1" max="5">

                <button type="submit" name="cat-selected" class="btn btn-info"> Submit </button>
            </form>

            <script>
                document.getElementById('cat-form').style.display = 'none';
                document.getElementById('dog-form').style.display = 'none';
                document.getElementById('dog-button').addEventListener('click', () => {
                    document.getElementById('cat-form').style.display = 'none';
                    document.getElementById('dog-form').style.display = 'block';
                })
                document.getElementById('cat-button').addEventListener('click', () => {
                    document.getElementById('cat-form').style.display = 'block';
                    document.getElementById('dog-form').style.display = 'none';
                })
            </script>
        </div>

        {% if data %}
        <div class="results">
            {% for i in data %}
                <div class="result">
                    <img class="breed-img" src="i[1]" alt="image" />
                    <h2 class="breed-name">
                        {{i[0]}}
                    </h2>
                    <p class="breed-desc">
                        {{i[2]}}
                    </p>
                    <br>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                C
                <span style="color: #EA4335; ">S</span>
                <span style="color: #FBBC05; ">4</span>
                3
                <span style="color: #34A853; ">0</span>
                <span style="color: #EA4335; ">0</span>
            </h1>
            <br><br>
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
                <input id="dog" type="radio" name="radio" value="Dog">
                <label for="dog">Radio Test1</label>
                <input id="cat" type="radio" name="radio" value="Cat">
                <label for="cat">Radio Test2</label>
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form> -->
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}
                <br>
                <p>{{d}}</p>
            {% endfor %}
        {% endif %}
        </form>

        <div class = "footer">
            <p>Project "{{ name }}", by: {{ netid }}</p>
        </div>
    </body>

</html>
