body {
  /* background-image: linear-gradient(to bottom, #db849e, rgb(252, 238, 162), rgb(252, 247, 221)); */
  background-image: linear-gradient(to bottom,  rgb(252, 247, 221),white);
/* OG: rgb(252, 247, 221) to white */
}

/* #catdog-form{
    padding-right: 200px;
    padding-left: 200px;
    background-color: #FFD9B3;
} */

.footer {
    color: rgb(102, 102, 102);
  /* color: 255 217 179; */
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

button {
    color: rgb(255, 217, 179)
    padding: 2%;
    border-radius: 5%;
    border: none;
    margin: 2%;
    width: 15%;
    font-family: 'Raleway', sans-serif;
}
