h1{
    background-color: #FFD9B3;
}

#catdog-form{
    padding-right: 200px;
    padding-left: 200px;
    background-color: #FFD9B3;
}

.footer {
    color: rgb(102, 102, 102);
  /* color: 255 217 179; */
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

button {
    color: rgb(255, 217, 179)
    padding: 2%;
    border-radius: 5%;
    border: none;
    margin: 2%;
    width: 15%;
    font-family: 'Raleway', sans-serif;
}
